* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at 50% 50%, rgba(210, 26, 26, 1) 0%, rgba(130, 130, 130, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.App{
  display: flex;
  justify-self: center;
  align-items: center;
}

.calc-wrapper {
  background-color: black;
  width: 400px;
  border-radius: 16px;
  border: 5px solid #00abf0; /* Adjust the border width as needed */
}


.row{
  display: flex;
}

@media (max-width: 600px) {
  .calc-wrapper {
    width: 100%;
  }
}
