body {
background-color: black;
color: white;
}

.App{
  display: flex;
  justify-self: center;
  align-items: center;
}

.calc-wrapper{
  background-color: white;
  width: 400px;
  border-radius: 16px;
}